flows.json
[{"id":"d0017bce.c03ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"d0017bce.c03ca8","name":"","topic":"","payload":"Hello ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":140,"wires":[["a6aa0645.1fd4d8"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"d0017bce.c03ca8","name":"","active":true,"console":"false","complete":"false","x":690,"y":120,"wires":[]},{"id":"8392c51f.4feb18","type":"ui_form","z":"d0017bce.c03ca8","name":"","label":"","group":"5905c450.51048c","order":1,"width":"16","height":"1","options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":280,"wires":[["eebc8e23.ab44"]]},{"id":"eebc8e23.ab44","type":"function","z":"d0017bce.c03ca8","name":"func1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["625b5b26.80dd04","a6aa0645.1fd4d8"]]},{"id":"6a75f56e.d6a4cc","type":"function","z":"d0017bce.c03ca8","name":"func2","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["5d6ebd7d.0cd344"]]},{"id":"a6aa0645.1fd4d8","type":"watson-conversation-v1","z":"d0017bce.c03ca8","name":"","workspaceid":"f1ccc68f-bdd3-46c0-833d-2c566f06a218","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6bd57ce2-d6c9-4ae7-b5a9-9ac8e09873e3","timeout":"","optout-learning":false,"x":460,"y":180,"wires":[["6a75f56e.d6a4cc","f2f2649a.0d0d98"]]},{"id":"625b5b26.80dd04","type":"ui_text","z":"d0017bce.c03ca8","group":"5905c450.51048c","order":2,"width":"8","height":"1","name":"","label":"You:","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":300,"wires":[]},{"id":"5d6ebd7d.0cd344","type":"ui_text","z":"d0017bce.c03ca8","group":"5905c450.51048c","order":3,"width":"16","height":"8","name":"","label":"Bot:","format":"{{msg.payload}}","layout":"col-center","x":770,"y":280,"wires":[]},{"id":"5905c450.51048c","type":"ui_group","z":"","name":"Chatbot","tab":"3b2bee1f.8d17d2","order":1,"disp":true,"width":"16","collapse":false},{"id":"3b2bee1f.8d17d2","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]